@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@font-face {
  font-family: chillax-b;
  src: url(./fonts/Chillax-Bold.otf);
}
@font-face {
  font-family: chillax-sb;
  src: url(./fonts/Chillax-Semibold.otf);
}
@font-face {
  font-family: chillax-md;
  src: url(./fonts/Chillax-Medium.otf);
}
@font-face {
  font-family: chillax-rg;
  src: url(./fonts/Chillax-Regular.otf);
}
@font-face {
  font-family: chillax-lt;
  src: url(./fonts/Chillax-Light.otf);
}
@font-face {
  font-family: chillax-el;
  src: url(./fonts/Chillax-Extralight.otf);
}
@font-face {
  font-family: satoshi-lt;
  src: url(./fonts/Satoshi-Light.otf);
}
.roboto {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #121212;
}

html {
  font-family: chillax-rg, sans-serif;
  color: rgb(242, 242, 242);
  font-size: clamp(14px, 1vw, 18px);
}

section,
nav {
  max-width: 1600px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  padding-bottom: 0;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  list-style: none;
  color: white;
  text-decoration: none;
}
nav ul li {
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
  background-color: #1e1e1e;
  padding: 1rem 1.5rem;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: all ease 0.3s;
}
nav ul li a {
  font-weight: 700;
  font-family: chillax-lt;
  color: white;
  text-decoration: none;
}
nav ul li a span {
  background-color: #cebd63;
  display: inline-block;
  color: black;
  border-radius: 50%;
  width: -moz-fit-content;
  width: fit-content;
}
nav ul li:hover {
  background-color: #2a2a2a;
}
nav ul li:last-child {
  background-color: #cebd63;
}
nav ul li:last-child a {
  color: black;
}

nav > a {
  font-family: chillax-lt;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.hide {
  display: none;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}
main section.view1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.view1 .top {
  width: 100%;
}
main section.view1 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view1 .bottom {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: #1e1e1e;
  width: 100%;
  border-radius: 0.7rem;
  padding: 1.5rem;
}
main section.view1 .bottom p:first-child {
  text-transform: uppercase;
}
main section.view1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view1 .bottom .text h1 {
  font-weight: 200;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main section.view1 .bottom .text p {
  font-weight: 200;
  opacity: 0.6;
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: satoshi-lt;
}
main section.view1 .bottom .text button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}
main section.view2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
main section.view2 .top,
main section.view2 .bottom {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
main section.view2 .top .element,
main section.view2 .bottom .element {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main section.view2 .top .element small,
main section.view2 .bottom .element small {
  opacity: 0.6;
}
main section.view2 .top .element h2,
main section.view2 .bottom .element h2 {
  font-size: 3rem;
  font-weight: 300;
}
main section.view3 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view3 .top {
  width: 100%;
}
main section.view3 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view3 .bottom {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: #1e1e1e;
  width: 100%;
  border-radius: 0.7rem;
  padding: 1.5rem;
}
main section.view3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view3 .bottom .text h1 {
  font-weight: 200;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main section.view3 .bottom .text p {
  font-weight: 200;
  opacity: 0.6;
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: satoshi-lt;
  display: inline-flex;
}
main section.view3 .bottom > p {
  text-transform: uppercase;
}
main section.view4 {
  width: 100%;
  padding: 0rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view4 .top {
  width: 100%;
}
main section.view4 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view4 .bottom {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: #1e1e1e;
  width: 100%;
  border-radius: 0.7rem;
  padding: 1.5rem;
}
main section.view4 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view4 .bottom .text h1 {
  font-weight: 200;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main section.view4 .bottom .text p {
  font-weight: 200;
  opacity: 0.6;
  line-height: 1.5;
  font-size: 1.2rem;
  font-family: satoshi-lt;
  display: inline-flex;
}
main section.view4 .bottom > p {
  text-transform: uppercase;
}
main section.view5 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view5 .top {
  padding: 1rem;
}
main section.view5 .top h1 {
  font-weight: 200;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main section.view5 .top button {
  display: none;
}
main section.view5 .bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view5 .bottom .card {
  width: 100%;
  aspect-ratio: 1/1;
  background-size: cover;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: space-between;
  padding: 1rem;
}
main section.view5 .bottom .card .card-top {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}
main section.view5 .bottom .card .card-bottom,
main section.view5 .bottom .card .icon {
  background-color: rgba(84, 82, 82, 0.4117647059);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0.5rem;
  border-radius: 0.7rem;
  border: 1px solid rgba(128, 127, 127, 0.47);
}
main section.view5 .bottom .card .icon {
  background-color: rgba(84, 82, 82, 0.4117647059);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0.5rem;
  border: 1px solid rgba(128, 127, 127, 0.47);
  border-radius: 50%;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  transition: all ease 0.3s;
}
main section.view5 .bottom .card .icon i {
  font-size: 1.2rem;
}
main section.view5 .bottom .card .icon:hover {
  border-color: rgb(204, 201, 201);
}
main section.view5 .bottom .card .card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 1rem;
}
main section.view5 .bottom .card .card-bottom h1 {
  font-size: 1.4rem;
  font-family: chillax-lt;
}
main section.view5 .bottom .card .card-bottom h2 {
  font-size: 1rem;
  font-family: chillax-lt;
}
main section.view5 .bottom .card:nth-child(1) {
  background-image: url(./assets/arlene.webp);
}
main section.view5 .bottom .card:nth-child(2) {
  background-image: url(./assets/bessie.webp);
}
main section.view5 .bottom .card:nth-child(3) {
  background-image: url(./assets/marvin.webp);
}
main section.view6 {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view6 .top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view6 .top .left {
  width: 100%;
}
main section.view6 .top .left img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view6 .top .right {
  background-color: #1e1e1e;
  border-radius: 0.7rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main section.view6 .top .right p {
  text-transform: uppercase;
  color: rgba(177, 176, 176, 0.616);
}
main section.view6 .top .right h1 {
  font-weight: 200;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main section.view6 .top .right .btn {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  text-transform: uppercase;
}
main section.view6 .top .right .btn .icon {
  background-color: rgba(84, 82, 82, 0.4117647059);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0.5rem;
  border: 1px solid rgba(128, 127, 127, 0.47);
  border-radius: 50%;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  transition: all ease 0.3s;
}
main section.view6 .top .right .btn .icon i {
  font-size: 1.2rem;
}
main section.view6 .top .right .btn .icon:hover {
  border-color: rgba(225, 224, 224, 0.77);
}
main section.view6 .bottom {
  background-color: #cebd63;
  color: black;
  padding: 2rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view6 .bottom p {
  text-transform: uppercase;
}
main section.view6 .bottom .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view6 .bottom .text h1 {
  width: 100%;
  font-weight: 200;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1.1;
}
main section.view6 .bottom .text button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: 100%;
  background-color: #121212;
  color: white;
  padding: 1rem;
  border-radius: 0.7rem;
  text-transform: uppercase;
}
main section.view6 .bottom .text button div {
  width: -moz-fit-content;
  width: fit-content;
}
main section.view7 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh 1fr 20vh;
  grid-gap: 1rem;
  padding: 1rem;
}
main section.view7 .top,
main section.view7 .bottom,
main section.view7 .mid {
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 0.7rem;
}
main section.view7 .top {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
}
main section.view7 .top p {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgba(195, 194, 194, 0.6431372549);
}
main section.view7 .top .socials {
  width: 100%;
  display: flex;
  gap: 1rem;
}
main section.view7 .top .socials .icon {
  background-color: rgba(84, 82, 82, 0.4117647059);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0.5rem;
  border: 1px solid rgba(128, 127, 127, 0.47);
  border-radius: 50%;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  transition: all ease 0.3s;
}
main section.view7 .top .socials .icon i {
  font-size: 1.2rem;
}
main section.view7 .mid {
  color: rgba(195, 194, 194, 0.6431372549);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main section.view7 .mid .footer-section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.view7 .mid .footer-section ul li:first-child {
  font-family: chillax-lt;
  font-size: 1.5rem;
  color: white;
}
main section.view7 .mid .footer-section button {
  background-color: #cebd63;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 0.7rem;
}
main section.view7 .mid .footer-section button:hover {
  background-color: #aec172;
}
main section.view7 .bottom {
  color: rgba(195, 194, 194, 0.6431372549);
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
main section.view7 .bottom .left {
  text-align: center;
}
main section.view7 .bottom .left span {
  color: white;
  text-decoration: underline;
}
main section.view7 .bottom .right {
  width: 100%;
}
main section.view7 .bottom .right button {
  text-transform: uppercase;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
main section.view7 .bottom .right button .icon {
  background-color: rgba(84, 82, 82, 0.4117647059);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0.5rem;
  border: 1px solid rgba(128, 127, 127, 0.47);
  border-radius: 50%;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  transition: all ease 0.3s;
}
main section.view7 .bottom .right button .icon i {
  font-size: 1.2rem;
}

@media (min-width: 900px) {
  main section.view1 {
    flex-direction: row;
    padding: 1rem;
  }
  main section.view1 .top,
  main section.view1 .bottom {
    width: 50%;
  }
  main section.view1 .bottom {
    justify-content: space-between;
    padding: 3rem;
    gap: 1.5rem;
  }
  main section.view1 .bottom .text h1 {
    font-size: 4rem;
  }
  main section.view1 .bottom .text p {
    font-size: 1.3rem;
    width: 80%;
  }
  main section.view2 {
    flex-direction: row;
    padding: 2.5rem 1rem;
  }
  main section.view2 .top .element small,
  main section.view2 .bottom .element small {
    opacity: 0.6;
  }
  main section.view2 .top .element h2,
  main section.view2 .bottom .element h2 {
    font-size: 3.8rem;
    font-weight: 300;
  }
  main section.view3 {
    flex-direction: row-reverse;
  }
  main section.view3 .top,
  main section.view3 .bottom {
    width: 50%;
  }
  main section.view3 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view3 .bottom .text h1 {
    font-size: 3.5rem;
  }
  main section.view3 .bottom .text .paragraphs {
    display: flex;
    gap: 2rem;
  }
  main section.view3 .bottom .text .paragraphs p {
    font-size: 1.3rem;
  }
  main section.view4 {
    flex-direction: row;
  }
  main section.view4 .top,
  main section.view4 .bottom {
    width: 50%;
  }
  main section.view4 .bottom {
    padding: 3rem;
    justify-content: space-between;
  }
  main section.view4 .bottom .text h1 {
    font-size: 3.5rem;
  }
  main section.view4 .bottom .text .paragraphs {
    display: flex;
    gap: 2rem;
  }
  main section.view4 .bottom .text .paragraphs p {
    font-size: 1.3rem;
  }
  main section.view5 .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main section.view5 .top button {
    display: block;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-transform: uppercase;
  }
  main section.view5 .top button .icon {
    padding: 0.5rem;
    border: 1px solid rgba(178, 176, 176, 0.519);
    border-radius: 50%;
  }
  main section.view5 .bottom {
    flex-direction: row;
  }
  main section.view6 .top {
    flex-direction: row;
  }
  main section.view6 .top .left,
  main section.view6 .top .right {
    width: 50%;
  }
  main section.view6 .top .right {
    padding: 3rem;
    justify-content: space-between;
  }
  main section.view6 .top .right h1 {
    font-size: 3rem;
  }
  main section.view6 .bottom {
    padding: 3rem;
  }
  main section.view6 .bottom .text {
    align-items: end;
    flex-direction: row;
  }
  main section.view6 .bottom .text h1 {
    font-size: 6rem;
  }
  main section.view6 .bottom .text button {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-wrap: nowrap;
  }
  main section.view7 {
    grid-template-columns: 17vw 1fr;
    grid-template-rows: 2fr 20vh;
    grid-template-areas: "top mid" "top bottom";
  }
  main section.view7 .top,
  main section.view7 .mid,
  main section.view7 .bottom {
    padding: 3rem;
  }
  main section.view7 .top {
    grid-area: top;
  }
  main section.view7 .mid {
    grid-area: mid;
    flex-direction: row;
    justify-content: start;
    gap: 20%;
  }
  main section.view7 .bottom {
    grid-area: bottom;
    flex-direction: row;
    justify-content: space-between;
  }
  main section.view7 .bottom .left {
    width: 70%;
    text-align: start;
  }
  main section.view7 .bottom .right {
    width: 30%;
  }
  main section.view7 .bottom .right button {
    justify-content: end;
  }
  .hide {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */