* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: monospace;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #000;
    transition: all ease-in 0.4s;
    user-select: none;
}

button {
    all: unset;
    background-color: crimson;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

button:active {
    scale: 0.95;
}
